version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: aymen
      POSTGRES_DB: auth_service
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      DB_HOST: db
      DB_USER: postgres   
      DB_PASSWORD: aymen    
      DB_NAME: auth_service  
    depends_on:
      - db